*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: #f8db94;
}

.container{
    width: 700px;
    height: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
}

.popsicle{
    width: 180px;
    height: 300px;
    position: relative;
    top: 45px;
    border-radius: 90px 90px 20px 20px;
}

.popsicle:before{
    position: absolute;
    content: "";
    width: 15px;
    height: 180px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 15px;
    right: 20px;
    top: 60px;
}

.popsicle:after{
    position: absolute;
    content: "";
    width: 30px;
    height: 180px;
    background-color: #dba55b;
    margin: auto;
    top: 300px;
    left: 0;
    right: 0;
    border-radius: 0 0 20px 20px;
}

.popsicle-1{
    background-image: repeating-linear-gradient(
        135deg,
        #ff7eaf 0,
        #ff7eaf 20px,
        #ff0575 20px,
        #ff0575 40px
    );
}

.popsicle-2{
    background-size: 60px 300px;
    background-image: radial-gradient(
        circle at 30px 53px,
        #521a01 80px,
        #ffba00 81px
    );
}

.popsicle-3{
    background-color: #5e3a16;
    background-image: radial-gradient(#c39a6b 4px, transparent 4px);
    background-size: 30px 30px;
}